
@model IEnumerable<Tarea2_BD1.Models.Puesto>

@{

}


<datalist id="listaPuestos">
    @foreach (var item in Model)
    {
        <option value=@Html.DisplayFor(modelItem => item.Nombre)></option>
    }
</datalist>