
@model Empleado

@{
    ViewData["Title"] = "Agregar empleados";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>Agregar empleado</h1>

    <div>
        <form id="formAgregarEmp" method="post" asp-controller="Empleado" asp-action="ControlDeErroresAvisos">
            @* Sección para ingresar el valor de documentode identidad *@
            <div class="mt-3">
                <label asp-for="ValorDocumentoIdentidad">Valor del documento de identidad:</label>
                <input asp-for="ValorDocumentoIdentidad" type="text" id="entValorDocIdent" class="form-control" name="stringValorDocIdent" placeholder="Escriba el nombre aquí">
                <span asp-validation-for="ValorDocumentoIdentidad" id="spanValorDocIdent" class="text-danger"></span>
            </div>

            @* Sección para ingresar el nombre *@
            <div class="mt-3">
                <label asp-for="Nombre">Nombre:</label>
                <input asp-for="Nombre" type="text" id="entNombre" class="form-control" name="stringNombre" placeholder="Escriba el salario aquí">
                <span asp-validation-for="Nombre" id="spanSalario" class="text-danger"></span>
            </div>

            @* Sección para ingresar el puesto *@
            <div id="div-PartialView" class="mt-3">
                <label>Puesto:</label>
                <select id="selectListaPuestos" class="form-select" name="stringPuesto">
                    <option value="nada" selected disabled>Seleccione un puesto:</option>
                    <option value="Albañil">Albañil</option>
                    <option value="Asistente">Asistente</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Camarero">Camarero</option>
                    <option value="Conductor">Conductor</option>
                    <option value="Conserje">Conserje</option>
                    <option value="Cuidador">Cuidador</option>
                    <option value="Fontanero">Fontanero</option>
                    <option value="Niñera">Niñera</option>
                    <option value="Recepcionista">Recepcionista</option>
                </select>
            </div>
             
            <button type="submit" id="btnAgregarEmp" class="btn btn-primary mt-3">Buscar</button>

        </form>
    </div>
</body>
</html>